<head>
	<title>Commonly Hub - Public domain assets for your next masterpiece</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link href='/css/create.css' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/favicon.ico" />

</head>
<body>

	<div id="form">

		<form action="/projects/create" method="POST" enctype="multipart/form-data">

			<!-- Metainfo -->
			
			The title for this asset:
			<input type="text" name="title" required>
			<br>

			A short description:
			<input type="text" name="blurb" required>
			<br>

			Upload a Banner image: (960x640)
			<input type="file" name="banner" required>
			<br>

			<!-- Campaign -->
			Make this public domain once I've earned this much: (USD)
			<input type="text" name="goal" pattern="\d+(\.\d+)?" required>
			<br>

			<!-- Links -->
			Digital Work (single file, or .zip):
			<input type="file" name="asset" required>
			<br>

			<!-- Submit -->
			<button name="submit">Create Project</button>

		</form>

	</div>

</body>