<head>
	
	<title>Commonly Hub</title>
	<link rel="shortcut icon" href="/favicon.ico" />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link href='/css/index.css' rel='stylesheet' type='text/css'>
	<link href='/css/header.css' rel='stylesheet' type='text/css'>
	<link href='/css/project.css' rel='stylesheet' type='text/css'>

</head>

<body>

	<%- include ../elements/Header.ejs %>

	<div class="white segment">

		<div id="asset_container">

			<%
			var projects = projects || [];
			for(var i=0;i<projects.length;i++){
				var project = projects[i];
				project.isFunded = (project.funding>=project.goal) || project.isBuyer;
			%>
				<%- include Project.ejs %>
			<%
			}
			%>

		</div>
	</div>

</body>

<!-- Hub Script -->
<script src="/js/library.js"></script>
