<div id="nav_header">
	<div id="nav_header_cont">
		
		<a href="/">
			<img id="nav_header_logo" src="/img/logo.png"/>
		</a>

		<a href="/about">
			<div style="left:0">what is commonly?</div>
		</a>
		<a href="/projects">
			<div style="left:230px;">discover</div>
		</a>

		<a href="/projects/new">
			<div style="right:160px">add your project</div>
		</a>
		<a href="/account">
			<div style="right:0">login/account</div>
		</a>

		<div id="nav_header_arrow"></div>

	</div>
</div>