html, body {
	padding: 0px; margin: 0px; 
	width: 100%; height: 100%;
}
body {
	position: absolute;
	font-family: Open Sans;
}
a {
	color:inherit;
}


#form {
	margin:100px auto;
	width:800px;
	font-size:25px;
}
#form input{
	width:100%;
	margin-bottom:20px;
}
#form input[type=text], #form input[type=email] {
	font-size:20px;
	font-family: Open Sans;
	padding:5px;
}